
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-style: normal;
}

.group:hover .animate-marquee {
  animation-play-state: paused;
}
.animate-marquee {
  animation-play-state: running;
}
.react-calendar__month-view__weekdays__weekday {
  text-decoration: none;  /* Remove text decoration (underline) */
}
.react-calendar.custom-calendar .react-calendar__month-view__weekdays__weekday {
  text-decoration: none;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: 200%; /* Double the width for seamless looping */
  animation: marquee 40s linear infinite; /* Adjust 20s for speed */
}
.slick-slide>div{
  margin: 0 10px;
}

/* Make scrollbar always visible */
.scrollbar-visible {
  overflow-x: scroll;
}

.scrollbar-visible::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollbar-visible::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .container2{
  padding-top: 12px;
  padding-bottom: 20px;
} */
